# required packages
scipy
erroranalysis
matplotlib
numpy
jupyterlab
zenodo_get
graphenetools
argparse
pickle
heprops

## Installed from git
git+git://github.com/DelMaestroGroup/dgutils.git#egg=dgutils
git+git://github.com/DelMaestroGroup/pimcscripts.git#egg=pimcscripts
